/* 공통스타일 */
:root {
  --color-graybg: #F5F5F5;
  --color-graytext: #656565;
  --color-text: #3d3d3d;
  --color-pointtext: #105A56;
  --color-pointcolor: #3DBAAF;
  --color-background: #81D8D0;
  --swiper-theme-color: var(--color-pointcolor);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

h2 {
  text-align: center;
  padding-bottom: 25px;
  font-size: 18px;
  color: var(--color-text);
  font-weight: bold;
}

ul, li { text-decoration: none;}

select {
  background-color: var(--color-graybg);
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

a:hover, a:visited, a:link, a:active {
  color: var(--color-graytext);
  cursor: pointer;
}


.margin_r10 { margin-right:10px;}
.padding_r10 { padding-right:10px;}
.input_90p {width:90px;}
.input_40 {width :40%;}



.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid var(--color-graytext);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text);
  text-align: center;
  cursor: pointer;
  display: block; 
  transition: .4s; 
}

.btn:hover {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 2px solid var(--color-pointcolor);
}

.btn.btn--mint {
  background-color:var(--color-background);
  color: #fff;
  border: 2px solid #65c1b9;
}

.btn.btn--mint:hover {
  background-color: var(--color-pointcolor);
  border: 2px solid #65c1b9;
}

.btn.btn--darkmint {
  background-color: var(--color-pointcolor);
  border: 2px solid #35928a;
  color: #fff;
}

.btn.btn--darkmint:hover {
  background-color: #348e88;
  border: 2px solid #28716c;
}

.btn.btn--gray {
  background-color: #787878;
  color: #c4c4c4;
  border: 2px solid #656565;
}

.btn.btn--gray:hover {
  background-color: #555555;
  border: 2px solid #605f5f;
}

/* back-to-position */
.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-left {
/* 오른쪽에서 왼쪽으로 나타나는 효과 */
  transform: translateX(70px);
}

.back-to-position.to-right {
  /* 왼쪽에서 오른쪽으로 나타나는 효과 */
    transform: translateX(-100px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-1 {
  transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

.show .back-to-position.delay-4 {
  transition-delay: 1.2s;
}
  
.show .back-to-position.delay-5 {
  transition-delay: 1.5s;
}
  
.inner {
  width: 1024px;
  margin: 0 auto;
}

.form_label {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 10px;
}

.form_label label {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}

/* 모달창 공통 */
.mymodal_overlay {
  position: fixed;
  background: rgba(3, 41, 39, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal_made .modal-header { 
  position: relative;
  border-bottom: 1px solid #e0e1e5;
  height: 45px;
}

.modal_made .modal-header .modal-title {
  color: var(--color-pointcolor);
  font-size: 25px;
}

.modal_made .modal-header .material-icons {
  position: absolute;
  top: 0;
  right: 0;
}

.modal_made .modal-body {
 padding-bottom: 20px;
}

.modal-body input {
  background-color: var(--color-graybg);
  border: 1px solid #ccc;
}


.modal_made .modal-footer {
  border-top: 1px solid #e0e1e5;
}


/* 헤더오른쪽상단 */
header {
  border-bottom: 2px solid var(--color-background);
  position: fixed;
  z-index: 3;
  background-color: #fff;
  width: 100%;
}

header > .inner {
  position: relative;
}

.topmenu {
  position: absolute;
  top: 5px;
  width: 300px;
  right: -160px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
}

.topmenu:hover {
  color: var(--color-graytext);
}

.topmenu span:nth-child(1), span:nth-child(2) {
  padding-right: 10px;
}

.topmenu .material-icons {
  color: #8B8B8B;
}

.topmenu .material-icons a:hover { 
  color: var(--color-background);
}

.topmenu .material-icons:first-child {
  width: 20px;
  height: 20px;
}

.topmenu .search label {
  display: none;
}

/* 로그인모달창 */
#login_modal.mymodal_overlay {
  display: none;
}

#login_modal .modal_made {
  width: 450px;
  height: 360px;
  background: #fff ;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #2f5253;
  padding: 20px;
}

#login_modal .modal_made .pw_search  {
  display: block;
  padding-left: 20px;
  height: 20px;
}

#login_modal .modal_made .modal-footer .btn-group {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#login_modal .modal-footer .btn-group a:first-child {
 margin-right: 10px;
}

#login_modal .modal-body .login input { width: 70%; } 

#login_modal .modal-body .login .pw_search {
  width: 100%;
  display: block;
  padding-left: 10px;
  font-size: 14px;
}

#login_modal .modal-body .login .pw_search a:hover {
  color: var(--color-pointtext);
}


.topmenu .search {
  position: relative;
}

.topmenu .search input {
  height: 30px;
  width: 30px;
  background-color: var(--color-background);
  border-radius: 8px;
  border:0;
  outline: none;
  padding-left: 10px;
  color: var(--color-graytext);
  transition: width 0.5s;
}

.topmenu .search input:focus {
  width: 150px;
}

.topmenu .search .material-icons {
  display: block;
  position: absolute;
  top:4px;
  left:4px;
  color:#fff;
}

.topmenu .search.focused .material-icons {
  opacity: 0;
}

h1.logo {
  font-family:'Lora' !important;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 70px;
  user-select: none;
}

/* 메인메뉴바 - nav */
header .pc-nav { 
  margin: 0 auto;
  width:100%;
  position: relative; 
  background-color: #105A56;
}

header .main-menu { 
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.main-menu .item .item__name {
  display: block;
  padding: 12px 40px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--color-graytext); 
  font-weight: bold; 
}

.main-menu .item .item__name:hover {
  color: var(--color-text);
}

.main-menu .item:hover .submenu  {
  visibility: visible;
  height: 185px ;
  transition-delay: .4s ;
}

/* 서브메뉴 열리는 영역 */
.main-menu .item .item__contents {
  width: 100%;
  height: 0;
  background-color: var(--color-background);
  position: absolute;
  left: 0;
  visibility: hidden;
  transition: ease-out 0.5s;
}

.main-menu .item:hover .item__contents {
  visibility: visible;
  height: 200px ;
}

.main-menu .item .submenu {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  padding-top: 20px;
  visibility: hidden;
  height: 0;
  font-size: 18px;
}

.main-menu .item .submenu.sub_1 { padding-left: 50px;}
.main-menu .item .submenu.sub_2 { padding-left: 255px;}
.main-menu .item .submenu.sub_3 { padding-left: 410px;}
.main-menu .item .submenu.sub_4 { padding-left: 530px;}
.main-menu .item .submenu.sub_5 { padding-left: 665px;}
.main-menu .item .submenu.sub_6 { padding-left: 840px;}

.main-menu .item .submenu li {
  text-align: center;
  width: 200px;
  transition-delay: .2s ;
  height: 32px;
  font-weight: bold;
}

.main-menu .item .submenu li a { color:#1D7873;}
.main-menu .item .submenu li a:hover {
  color: var(--color-text);
  cursor: pointer;
  color: #105A56;
}


/* m-nav - 모바일 나오는 메뉴 */
header .btn-hamburger  {
  position: fixed;
  top: 10px;
  right: 20px;
  display: none;
}

header .btn-close {
  position: absolute;
  right: 0;
}

header .btn-hamburger span {
  font-size: 40px;
  color: var(--color-background);
}

header .m-nav .btn-close span {
  font-size: 40px;
  color: #fff;
}

header .m-nav {
  z-index: 11;
  position: fixed;
  background-color: var(--color-background);
  height: 100vh;
  width: 50%;
  right:-50%;
  transition: .5s;
}

header .m-nav.active {
  right: 0;
}

header .m-nav > ul {
  padding-top: 50px ;
}

header .m-nav > ul > li {
  position: relative;
  border-bottom : 1px solid #fff;
  font-weight: bold;
  line-height: 40px ;
}

header .m-nav > ul > li a {
  height: 40px;
  padding-left: 20px;
  color: #1D7873;
}

header .m-nav > ul > li a:hover {
  color:#105A56;
}

header .m-nav > ul > li > a > span {
  position: absolute;
  color:#1D7873;
  top:8px;
  right:10px;
}

header .m-nav .m-topmenu {
  position: relative;
  width: 70%;
}

header .m-nav .m-topmenu input {
  height: 30px;
  width: 80%;
  background-color: var(--color-graybg);
  border-radius: 8px;
  border: 0;
  outline: none;
  padding-left: 10px;
  margin: 5px 0 0 20px;
  color: var(--color-graytext);
}

header .m-nav .search  {
  position: absolute;
  display: block;
  color: var(--color-pointcolor);
  top: 10px;
  right: 25px;
  cursor: pointer;
}

header .m-nav .m-topmenu .person     {
  position: absolute;
  display: block;
  color: var(--color-pointtext);
  top: 10px;
  right: 0;
  cursor: pointer;
}

header .m-nav li.m-main-menu .m-menu__submenu {
  width: 100%;
  background-color: #DFF5F2;
  display: none;
  height: 0;
}

header .m-nav li.m-main-menu:hover .m-menu__submenu {
  display: block;
  height: 200px;
}

header .m-nav .m-nav__submenu > li > a {
  color: var(--color-graytext);
}
header .m-nav .m-nav__submenu > li > a:hover {
  color:var(--color-text)
}

/* 비주얼 영역 */
.visual {
  padding-top:120px;
  display: flex;
  justify-content: center;
  position: relative; 
  overflow: hidden;
  transition: height .4s;
}

.visual .swiper {
  width: 2310px;
  height: 480px;
  flex-shrink: 0;
}

.visual .swiper-slide {
  opacity: 0.5;
  transition: opacity 1s;
}

.visual .swiper-slide-active {
  opacity: 1;
}

.visual .swiper-pagination {
  position: absolute; 
  bottom: 20px;
  color: var(--color-pointtext);
  z-index: 2;
}

.visual .swiper-button-prev {
  left: 50%;
  margin-left: -440px;
  z-index: 2;
}

.visual .swiper-button-next {
  right: 50%;
  margin-right: -440px;
  z-index: 2;
}

/* 카테고리 */
.category {
  width:100%;
  display: flex;
  justify-content: center;
}

.category > .inner {
  margin: 50px 0;
  padding: 30px 30px 0;
  width: 1024px;
  background-color: var(--color-graybg);
}

.category .pic_group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category .pic_group .pic__img {
  width: calc(15% - 6px);
  height: auto;
}

.category .pic_group .pic__img span {
  display: block;
  text-align: center;
  height: 40px;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
}

.category .pic_group .pic__img span a { 
  color:var(--color-graytext)
}

.category .pic_group .pic__img span a:hover {
  color:var(--color-text)
}

/* light */
.light {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.light > .inner { display: flex; }

.light .img-area {
  background-image: url(../images/light.webp) ;
  position: relative;
  width: 630px;
  height: 400px;
}

.light .img-area .bird {
  position: absolute;
  top:5px;
  right:180px;
}

.light .text-group {
  padding: 100px 0 0 40px;
  
}

.light .text-group p  {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text);
  line-height: 28px;
}

.light .text-group span {
  display: block;
  padding: 20px 0;
  color: var(--color-graytext);
}

.light .text-group a.btn {
  width: 150px;
}

/* 동영상 모달창 */
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(3, 41, 39, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  z-index: 10;
}

#modal .modal-window {
  background: #fff;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  width: 900px;
  position: relative;
  top: -50px;
  padding: 30px;
}

#modal .title {
  padding-left: 20px;
  color:var(--color-text);
}

#modal .title {
  font-size: 20px;
  font-weight: bold;
}

#modal .title span {
  display: block;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: var(--color-graytext);
  line-height: 25px;
}

#modal .close-area {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: var(--color-pointcolor);
}

#modal .content {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#modal .content video {
  max-width: 100%;
}

#modal.modal-overlay {
  display: none;
}

/* gemstone */
.gemstone-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.gemstone .gemstone__box { 
  width: calc(15% - 6px);
  background-color: #DFF5F2;
  padding: 15px 25px;
  margin: 10px;
  text-align: center;
}

.gemstone .gemstone__box a {
  color:var(--color-graytext);
}

.gemstone .gemstone__box:hover  {
  color:var(--color-pointtext);
  background-color: var(--color-background);
}


/* propose */
.propose { 
  width: 100%;
  height:400px;
  position: relative;
  margin-bottom: 50px;
}

.propose .bg-left {
  width: 50%;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  background-color: #fdfdfd;
}

.propose .bg-right {
  width: 50%;
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  background: url(../images/propose_bg.gif) repeat-x;
}

.propose .propose__content {
  width: 1024px;
  position: absolute;
  top: 0;
  background-color: #1D7873;
  background-image: url(../images/propose_backimg.jpg); 
  height: 400px;
}

.propose .propose_ring {
  position: absolute; 
  top: -250px;
  left: 300px;
}

.propose .text-group {
  position: absolute;
  top: 130px;
  right: 50px;
}

.propose .text-group p {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
  color: var(--color-text);
}

.propose .text-group span {
  display: block;
  line-height: 25px;
  color: var(--color-graytext);
}

.propose .text-group .btn {
  margin-top: 15px;
}

.propose .fade-in {
  opacity: 0;
}

.m-propose {
  display: none;
}

/* story */
.story {
  background-color: var(--color-graybg);
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.story h2 { padding-top: 30px;}

.story .story__content {
  display: flex;
  justify-content: space-between;
} 

.story .story__content .story-box {
  margin: 10px auto;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  padding: 10px;
  flex-wrap: wrap;
}

.story .story__content .title {
  text-align: center;
  color: var(--color-text);
  font-weight: bold;
  margin-top: 15px ;
}

.story .story__content span a {
  display: block;
  margin: 15px auto;
}
 
.fine {
  background-image: url("../images/fine_bg.jpg");
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  background-color: #105A56;
  margin-bottom: 50px;
}

.fine .inner {
  position: relative;
  height: 500px;
}

.fine .text-group {
  position: absolute;
  top: 80px;
  right: 60px;
}

.fine .text-group h2, .fine .text-group p {
  padding-bottom: 15px;
  text-shadow: #fff 5px 1px 5px;
  text-align: right;
  line-height: 25px;;
}

.fine .text-group span {
  position: absolute;
  display: block;
  right: 0;
}

/* service */
.service {
  position: relative; 
  margin-bottom: 50px ;
}

.service .service__content { 
  display: flex;
  justify-content: space-between;
}

.service .service__content .service-box {
  padding: 30px;
  background-color: var(--color-graybg);
  text-align: center;
  margin: 0 20px;
  flex-wrap: wrap;
}

.service .service-box .material-icons {
  font-size: 40px;
  color: var(--color-text);
  padding-bottom: 20px;
}

.service .service-box span {
  display: block;
  line-height: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  color:var(--color-graytext)
} 

.service .service-box a {
  cursor: pointer;
  color: var(--color-pointcolor);
}

.service .service-box a:hover {
  color: var(--color-pointtext)
}

/* 푸터 */
footer {
  border-top: 1px solid #3DBAAF;
} 

footer > .inner {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu {
  width: 70%;
}

.footer-menu ul {
  display: flex;
  color: var(--color-graytext);
}

.footer-menu ul li {
  padding: 20px 10px;
}
.footer-menu ul li a:hover {
  color: var(--color-text)
}

.footer-sns {
  width:30%;
}

.footer-sns ul {
  display: flex;
}

.footer-sns ul li { padding: 10px 15px;}

.footer-sns li a {
  font-size: 30px;
  color:#8B8B8B
}
.footer-sns li span {
  display: none;
}
.footer-sns li a:hover  {
  color:var(--color-pointcolor);
}

/* 회원가입 모달창 */
#member_modal.mymodal_overlay {
  display: none;
}

#member_modal .modal_made {
  width: 600px;
  height: 750px;
  background: #fff ;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #2f5253;
  padding: 20px;
  background: url(../images/member.jpg) no-repeat #fff right bottom;
}


#member_modal .modal-footer .btn-group {
  margin: 30px 10px;
}

#member_modal .submit , #member_modal .button {
  margin-left: 10px;
  width: 90px;
  background-color: var(--color-graytext);
  color:#fff;
  border:1px solid var(--color-text);
  border-radius: 5px;
}


.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  color: var(--color-pointtext);
  height: 50px;
}

#top {
  position: fixed;
  width:48px;
  height:57px;
  bottom:30px;
  right:30px;
  cursor: pointer;
  z-index: 8;
  opacity: 0.9;
}


/* 모바일 */
@media screen and (max-width:768px) {
  body { overflow-x: hidden ;}
  header {
    flex-direction: column;
    background-color: #fff;
    height: 65px;
    position: fixed;
    z-index: 3;
  }

  .inner{
    max-width:767px;
  }

  header .topmenu { 
    display: none;
  }

  header h1.logo {
    position: absolute;
    top:-10px;
    left:20px;
    font-size: 28px;
  } 

  nav.pc-nav { 
    width: 100%;
    display: none;
  }

  header .btn-hamburger {
    display: block;
  }

  header .pc-nav.active {
    display: block;
  }

  .visual {
    padding-top:50px;
    width:747px;
    height: 500px;
    overflow: hidden;
  }

  .visual .swiper-button-prev {
    left: 50%;
    margin-left: -360px;
  }

  .visual .swiper-button-next {
    right: 50%;
    margin-right: -360px;
  }

  .visual .swiper-pagination {
    bottom: 40px;
  }

  .category .pic_group .pic__img {
    text-align: center;
    width: calc(33.3% - 10px);
    height: auto;
  }

  .category .pic_group .pic__img img {
    width:calc(100%) ;
  }

  .light .inner { 
    position: relative;
    display: flex;
    flex-wrap: wrap; 
  }

  .light .img-area {
    margin: 0 30px;
    width: 100%;
  }

  .light .text-group {
    margin: 0 30px;
    width: 100%;
    padding: 40px ;
    background-color: var(--color-graybg);
  }
 
  #modal .modal-window {
    width:100%;
  }

  .gemstone { flex-wrap: wrap; }

  .gemstone .inner {
    width: 100%;
  }

  .gemstone .gemstone-group .gemstone__box {
    width:calc(30.33% - 12px);
  } 

  .propose {
    display: none;
  }

  .m-propose {
    position: relative;
    display: block;
    height: 350px;
    margin-bottom: 50px;
  }

  .m-propose .img-group img {
    width: 70%;
  }

  .m-propose .text-group {
    position: absolute;
    top:30px;
    right:20px;
  }

  .m-propose .text-group p {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    color: var(--color-text);
  }
  
  .m-propose .text-group span {
    display: block;
    line-height: 25px;
    color: var(--color-graytext);
  }

  .m-propose .text-group .btn {
    margin-top: 15px;
  }

  .story {
    padding:0 20px;
    background-color: var(--color-graybg);
  }
  
  .story .inner {
    width: 100%;
  }

  .story .story__content {
    display: flex;
    flex-wrap: wrap;
  }

  .story .story-box  {
    width:45%;
    align-items: center;
  }

  .story .story-box img {
    width: 100%;
  }

  .fine {
    width: 100%;
    background-image: url(../images/fine_m_bg.jpg);
  }

  .service .inner {
    width: 100%;
   }

  .service .service__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service .service__content .service-box {
    width:100%;
    margin-bottom: 30px;
  }

  footer .footer-menu {
    display: flex;
    justify-content: center;
    width:100%;
  }

  footer .footer-sns {
    display: flex;
    justify-content: center;
    width:100%;
  }
}