* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
  }

header > .inner {
  position: relative;
  width: 1024px;
  height: 1000px;
  background-color: rgb(191, 255, 255);
  margin: 0 auto;
}

.topmenu {
  position: absolute;
  top:5px;
  width:300px;
  right:-160px;
  height: 40px;
  display: flex;
  align-items: center;
  color:#8B8B8B;
}

.topmenu:hover {
  color:#656565;
}

.topmenu span:nth-child(1), span:nth-child(2) {
  padding-right: 10px;
}

.topmenu .material-icons {
  color: #8B8B8B;
}

.topmenu .material-icons:first-child {
  width:20px;
  height:20px;
}

.topmenu .search {
  position: relative;
}


.topmenu .search input {
  height: 30px;
  width: 30px;
  background-color: #81D8D0;
  border-radius: 8px;
  border:0;
  outline: none;
  padding-left: 10px;
  color:#656565;
  transition:width 0.5s;
}


.topmenu .search input:focus {
  width: 150px;
}


.topmenu .search .material-icons {
  display: block;
  position: absolute;
  top:4px;
  left:4px;
  color:#fff;
}



.topmenu .search.focused .material-icons {
  opacity: 0;
}







h1.logo {
  font-family:'Lora' !important;
  font-weight: 500;
  font-size: 27px;
  text-align: center;
  padding-top: 28px;
}
