* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}

a {
  text-decoration: none;
 
}

html,
:root {
  --color-text: #3d3d3d;
  --color-graytext: #656565;
  --color-pointtext: #105A56;
  --color-background: #81D8D0;
}

header {
  border-bottom: 2px solid var(--color-background);
 
}

header > .inner {
  position: relative;
  width: 1024px;
  /* height: 1000px; */
  margin: 0 auto;
}

.topmenu {
  position: absolute;
  top:5px;
  width:300px;
  right:-160px;
  height: 40px;
  display: flex;
  align-items: center;
  color:#8B8B8B;
}

.topmenu:hover {
  color:var(--color-graytext);
}

.topmenu span:nth-child(1), span:nth-child(2) {
  padding-right: 10px;
}

.topmenu .material-icons {
  color: #8B8B8B;
}

.topmenu .material-icons:first-child {
  width:20px;
  height:20px;
}

.topmenu .search {
  position: relative;
}

.topmenu .search input {
  height: 30px;
  width: 30px;
  background-color: var(--color-background);
  border-radius: 8px;
  border:0;
  outline: none;
  padding-left: 10px;
  color:var(--color-graytext);
  transition:width 0.5s;
}

.topmenu .search input:focus {
  width: 150px;
}

.topmenu .search .material-icons {
  display: block;
  position: absolute;
  top:4px;
  left:4px;
  color:#fff;
}

.topmenu .search.focused .material-icons {
  opacity: 0;
}

h1.logo {
  font-family:'Lora' !important;
  font-weight: 500;
  font-size: 27px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 70px;
}

/* nav */
header nav { position: relative; }
header .main-menu { 
  /* width:100%; */
  display: flex;
  position: absolute;
  bottom: 0;
  right:20px;
  
}


.main-menu .item .item__name {
  display: block; /*위아래 패딩적용 위해서*/
  padding: 12px 45px 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--color-graytext); 
  font-weight: bold; 

}

.main-menu .item .item__name:hover {
  color: var(--color-text);
  
}

.main-menu .item .item__contents {
  width: 100%;
  height: 0;
  background-color: var(--color-background);
  position: fixed;
  left:0;
  visibility: hidden;
  transition: ease-out 0.3s;
}

.main-menu .item:hover .item__contents {
  visibility: visible;
  height: 200px ;
}


.main-menu .item ul  {
  padding-top: 20px;
  visibility: hidden;
  height: 0;
}
.main-menu .item:hover ul  {
  visibility: visible;
  height: 185px ;
}

.main-menu .item ul li {
  height: 30px;
  color:var(--color-graytext);
  font-weight: bold;
  
}

.main-menu .item ul li:hover {
  color: var(--color-text);
  cursor: pointer;
}